
.alert-debug {
  color: black;
  background-color: white;
  border-color: #d6e9c6;
}

.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.search_bar {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Dostosuj margines górnego dla wyższego odstępu od nawigacji */
}

.navbar-collapse {
  justify-content: end;
}

.search_bar form {
  display: flex;
  align-items: center;
}

.search_bar input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 20px; /* Zaokrąglone rogi */
}

.search_bar button {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: -35px; /* Dostosuj odstęp, aby ikona była wyśrodkowana z polem tekstowym */
}

.search_bar button img {
  width: 20px; /* Dostosuj rozmiar ikony */
}

/* Dla estetyki, dodaj animację do zaokrąglania rogów */
.search_bar input,
.search_bar button {
  transition: border-radius 0.3s;
}

.search_bar input:hover,
.search_bar button:hover {
  border-radius: 20px; /* Zmiana zaokrąglonych rogów po najechaniu myszką */
}

.row {
  width: 100%;
  margin-left: 1px;
}

.game_system_class {
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  background-color: #b3d9ff; /* Domyślny kolor tła - bardzo jasny niebieski */
  transition: background-color 0.3s; /* Animacja zmiany koloru tła */
}

/* Zmiana koloru tła po najechaniu myszką */
.game_system_class:hover {
  background-color: #c1f0c1; /* Bardzo jasny zielony */
}

/* Centrowanie tekstu w ramce */
.game_system_class a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.left-column {
  text-align: left;
  box-sizing: border-box;
}

.right-column {
  text-align: left;
}

.game_scenario {
  border-radius: 20px; /* Poprawiłem wartość procentową na wartość pikselową, aby uzyskać zaokrąglone rogi */
  border: 1px solid pink; /* Dodane solid do ustawienia rodzaju linii w border */
  background-color: black;
  color: white; /* Ustawienie koloru tekstu na biały */
  transition: background-color 0.3s; /* Dodane przejście dla efektu hover */
}
.game_scenario a{
  color: white;
}

.game_systems_list {
  text-align: left;
}

.rounded-box,
.scenario-box {
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 15px;
  margin: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.rounded-box:hover,
.scenario-box:hover {
  background-color: #6a5acd; /* Kolor po najechaniu myszką */
}

.container {
  background-color: #2c2c2c; /* Tło kontenera - ciemniejsze */
  border-radius: 15px;
  padding: 1%;
  margin-top: 20px;
  max-width: 100%;
}

body {
  background-color: #1a1a1a; /* Główne tło strony - ciemne */
  color: #fff; /* Kolor tekstu na ciemnym tle */
}

h2 {
  color: #ffd700; /* Złoty kolor dla nagłówków */
}

.btn {
  background-color: #4caf50; /* Zielony kolor dla przycisków */
  color: #fff;
}

.bio-container {
  background-color: #333;
  color: #fff;
  border-radius: 15px;
  padding: 20px;
  margin-top: 20px;
}

.scenarios-container {
  display: flex;
  flex-wrap: wrap;
}

.scenario-box a {
  text-decoration: none;
  color: #fff;
}

.scenario-box a:hover {
  color: #ffd700; /* Złoty kolor dla linków po najechaniu myszką */
}

/* Dodatkowe stylizacje (opcjonalne) */
a {
  text-decoration: none;
  color: #333;
}

a:hover {
  color: #555;
}
.align-items-center {
  width: 90%;
}

/* Dodatkowe stylizacje (opcjonalne) */
a {
  text-decoration: none;
  color: #333;
}

a:hover {
  color: #555;
}
