{% extends "layouts/base.html" %}


{% block title %}
  About - Creator
{% endblock title %}

{% block content %}
  <div class="container text-center">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <h2><i class="fas fa-dragon"></i> Welcome to Creator <i class="fas fa-dragon"></i></h2>
        <p>
          Creator is a platform dedicated to facilitating the creation of immersive narratives and scenarios for tabletop role-playing games (RPGs). Whether you're a seasoned Dungeon Master or a novice storyteller, our platform is designed to inspire and assist you in crafting captivating stories within rich fantasy worlds reminiscent of those created by Tolkien or Sapkowski.
        </p>
        <h3><i class="fas fa-hat-wizard"></i> What Sets Us Apart? <i class="fas fa-hat-wizard"></i></h3>
        <p>
          At Creator, we understand the unique challenges of world-building and scenario creation. Our platform provides a user-friendly environment with a plethora of tools and resources to help you unleash your creativity. From developing intricate plotlines to designing memorable characters, we've got you covered.
        </p>
        <h3><i class="fas fa-key"></i> Key Features <i class="fas fa-key"></i></h3>
        <ul>
          <li><i class="fas fa-scroll"></i> <strong>Scenario Creation:</strong> Build detailed and engaging scenarios with our intuitive scenario editor.</li>
          <li><i class="fas fa-globe"></i> <strong>World-building Tools:</strong> Craft entire worlds with our world-building tools, including maps, cultures, and lore creation.</li>
          <li><i class="fas fa-users"></i> <strong>Character Development:</strong> Bring your characters to life using our character creation features, complete with backstories and motivations.</li>
          <li><i class="fas fa-hands-helping"></i> <strong>Collaboration:</strong> Collaborate with other storytellers and creators to enhance your storytelling experience.</li>
        </ul>
        <h3><i class="fas fa-users"></i> Join Our Community <i class="fas fa-users"></i></h3>
        <p>
          Creator is more than just a platform; it's a community of passionate storytellers. Join us on this journey of imagination and creativity. Whether you're seeking advice, sharing your latest creation, or looking for inspiration, our community is here to support you.
        </p>
        <p>
          Start your storytelling adventure with Creator today and bring your campaigns to life like never before!
        </p>
      </div>
    </div>
  </div>
{% endblock content %}

